*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    background: #1e172f;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
}
header nav ul li{
    margin: 15px;
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}

.boton1{
    width: 90px;
    height: 40px;
    background: linear-gradient(to right, #7036b0,#1676d5);
    border: 1px solid #1e172f;
    border-radius: 5px;
    color: white;
}
.primero{
    display: flex;
    width: 100%;
    height: 50vh;
}
.secizq{
    display: flex;
    background: #2E2550;
    width: 50%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.parrafo{ 
    font-size: 25px;
    margin-left: 2%;
}
.titulo1{
    font-size: 50px;
    margin-right: 20%;

}

.botones{
    display:flex;
    width: 35%;
    height: 13%;
    border: 1px solid white;
    margin-left: 90px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-right: 24%;
}
.boton2{
width: 45%;
border-radius: 5px;
border-color:#ffffff ;

}
.boton3{
width: 45%;
border-color: white;
background: #2E2550; 
color: white;
border-radius: 5px;
}
span{
    background: #ffffff;
    background: -webkit-linear-gradient(90 deg, #EB66AA, #be2974);
    background: linear-gradient(90deg,#EB66AA, #be2974);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.secdere{
    background-image: url(/images/WhatsApp\ Image\ 2023-02-24\ at\ 6.15.41\ AM.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
    padding: 10%;
    justify-content: flex-start;
    align-items: center;
}
.secdere img{
    width: 30%;
}

.segundo{
    background: #f1f2f7;
    height: 80vh;

}
.titulo2{
    display: flex;
    justify-content: center;
    color: #f41486;
    font-size: 55px;
}

.imgizq{
    display: flex;
    justify-content:end ;

}

.caja{
    display: flex;
}

.pc{
    display: flex;
    width: 50%;
    margin-right: 8%;
    margin-top: 5%;
}
.texto{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}
.titulo3{
    color: #f267ad;
    font-size: 50px;
}
.texto1{
    font-size: 20px;
}
.titulo4{
color: #f273b6;
font-size: 25px;
}
.terceraParte{
    background: #1f163e;
    height: 90vh; 
}

.tPTitulo{
    text-align: center;
    font-size: 60px;
    color: white;
}

.tPP{
    text-align: center;
    color: rgb(177, 177, 177);
    font-size: 18px;
}

.tPC1{
    display: flex;
    flex-direction: column;
    background: white;
    width: 15%;

    align-items: center;
}

.lite{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f13495;
}

.cero{
    font-size: 40px;
}

.tPC12{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    padding: 5% 0%;
    width: 100%;
    background: rgb(246, 245, 245);
}

.tPC13{

    margin-top: 10%;
}

.tPC15{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    margin-top: 18%;
    width: 100%;
    padding: 6%;

}
.boton4{
    background: #f13495;
    padding: 5% 5%;
    border-radius: 5px;
    color: white;
    border: none;    
}

.tPC2{
    display: flex;
    flex-direction: column;
    background: white;
    width: 15%;
    align-items: center;
    margin-left: 2%;
}

.tPC22{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    padding: 5% 0%;
    width: 100%;
    background: rgb(246, 245, 245);
}

.veinticuatro{
    font-size: 40px;
}

.tPC23{
    margin-top: 10%;
}

.tPC24{
    margin-top: 10%;
}
.tPC25{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    margin-top: 18%;
    width: 100%;
    padding: 6%;
}
.boton5{
    background: #2e2550;
    padding: 5% 5%;
    border-radius: 5px;
    color: white;
    border: none;    
}



.tPC3{
    display: flex;
    flex-direction: column;
    background: white;
    width: 15%;
    align-items: center;
    margin-left: 2%;
}

.tPC32{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    padding: 5% 0%;
    width: 100%;
    background: rgb(246, 245, 245);
}

.cuatrocientos{
    font-size: 40px;
}

.tPC33{
    margin-top: 10%;
}

.tPC34{
    margin-top: 10%;
}

.tPC35{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    margin-top: 18%;
    width: 100%;
    padding: 6%;
}
.boton5{
    background: #2e2550;
    padding: 5% 5%;
    border-radius: 5px;
    color: white;
    border: none;    
}


nav ul li{
    margin-top: 7px;
}

.tPC14{
    margin-top: 10%;
    text-align: center;
}

.cajas{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

footer{
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: space-around;   
}

.imagesFooter{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer img{
    width: 25%;
    margin: 0% 2%;
}


span{
    color: #dc5098;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
    .titulo1{
        font-size: 20px;
    }
    .parrafo{
        font-size: 16px;
        margin-left: 19%;
    }
    .titulo2{
        font-size: 30px;
        margin-bottom: 5%;
    }
    .botones{
        margin-bottom: 2%;
        width: 49%;
        height: 25%;
        margin-left: 30%;
        
    }
    .imgizq{
        width: 50%;
        margin-left: 10%;
    
    }
    .pc{
        width: 60%;

    }

    .segundo{
        height: auto;
    }

    .caja{
        padding-bottom: 3%;
    }
    .titulo3{
        font-size: 30px;
    }
    .texto1{
        font-size: 18px;
    }
    .terceraParte{
        height: 100%;
        padding-bottom: 5%;
    }
    .tPC1{
        width: 24%;
    }
    .tPC2{
        width: 24%;
    }
    .tPC3{
        width: 24%;
    }

    
}
@media screen and (max-width: 992px) {
    .parrafo{
        font-size: 16px;
        margin-left: 10%;
    }
.botones{
    width: 51%;
    height: 20%;
    margin-left: 24%;
}
.secdere img{
    width: 45%;
}
.imgizq{
    width: 50%;
}
.pc{
    width: 80%;
}
.texto{
    margin-right: 2%;
}
.tPC1{
    width: 20%;
}
.tPC2{
    width: 20%;
}
.tPC24{
    text-align: center;
}
.tPC25{
    margin-top: 30%;
}
.tPC3{
    width: 20%;
}
.tPC34{
    text-align: center;
}
.tPC35{
    margin-top: 30%;
}

}
@media screen and (max-width: 768px) {
    .primero{
        height: 300px;
    }
    .secizq{
        height: 300px;
    }
    .parrafo{
        font-size: 17px;
        margin-left: 19%;
    }
.botones{
    width: 65%;
    margin-left: 25%;
    padding-bottom: 2%;
}
.secdere img{
    width: 55%;
}
.texto1{
    font-size: 17px;
}
.imgizq{
    width: 50%;
}
.pc{
    width: 90%;
}
.tPP{
    font-size: 20px;
    display: flex;
    margin-left: 15%;
    width: 70%;
}

.tPC15{
    margin-top: 50%;

}

}
@media screen and (max-width: 480px) {
    header{
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .logo{
        width: 25%;
    }
    .parrafo{
        font-size: 17px;
        margin-left: 14%;
    }
.botones{
    width: 52%;
    margin-left: 22%;
}
.secizq{
    width: 100%;

}
.secdere{
    display: none;
}
.titulo2{
    margin-bottom: 15%;
}
.segundo{
    height: auto;
}
.imgizq{
    display: none;
}

.caja{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
.terceraParte{
    display: flex;
    flex-direction: column;
    height: auto;

}
.cajas{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.tPC1{
    width: 40%;
}
.tPC2{
    width: 40%;
}
.tPC25{
    margin-top: 60%;
}
.tPC3{
    width: 40%;
    margin-top: 2%;

} 

.tPTitulo{
    font-size: 40px;
    margin-top: 10%;
}

.tPP{
    font-size: 15px;
    display: flex;
    margin-left: 20%;
    width: 60%;
}
footer{
    margin-top: 6%;
}

}
